*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    font-family: Lato, sans-serif;
}
#main {

}

#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top:0;
    left:0;
    right:0;
    /* width: 100%; */
    /* Fixed có nghĩa là làm nổi lên trên các element khác */
    /* 2 cách đều sử dụng được */
    z-index: 1;
    /* Thuộc tính z-index thiết lập thứ tự xếp chồng nhau của một thành phần vị trí.
     Thứ tự chồng nhau được sắp xếp dựa theo giá trị số, thành phần HTML nào có chỉ số z-index cao hơn sẽ nằm trên, ngược lại sẽ nằm dưới, giá trị mặc định là 0, có thể sử dụng số âm. 
    Giá trị tốt nhất là không sử dụng đơn vị. */
}
.clear{
    clear:both; 
    /* Sử dụng để sửa lỗi float */
}
#nav {
    display:inline-block;
}
#nav > li {
    display:inline-block;
}
#nav li {
    text-decoration: none;
    position: relative;
 
}
#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}
#nav li a{
    text-decoration: none;
    line-height: 46px;  
    padding: 0 24px;
    display: inline-block;
}

.nav-arrow-down {
    font-size: 14px;
}
#nav > li:hover > a{
    background-color:#ccc;
    color: #000;
    
}

#nav li:hover .subnav{
    display:block;
}

#nav .subnav {
    display:none;
    position: absolute;
    background-color: #fff;
    list-style-type: none;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}



#nav .subnav a{
    color: #000;
    line-height: 38px;
    padding-left: 10px;

}

#nav .subnav li:hover {
    background-color:#ccc;
    color: #000;
}
/* Begin search */
#header .search-btn{
    float:right;
    padding: 0 16px;
}
#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
    
}

#header .search-btn:hover{
    cursor: pointer;
    background: red;
    
/* End Search */
    
}
#slider {
 margin-top:46px;
 padding-top:50%; /* bằng 50% chiều rộng (chiều của chính nó)*/
 /* background-image: url(/img/slider/slider1.jpg);
 background-size: 100%;
 background-repeat: no-repeat; */
 background: url('/img/slider/slider1.jpg') top center / cover no-repeat;
 position: relative;
}

#slider .text-content{
 position: absolute;
 color: #fff;
 bottom: 47px;
 width:100%;
 text-align: center;
}

#slider .text-heading{
font-weight: 500;
}

#slider .text-description{
margin-top: 25px;
}


#content {
    /* height:1000px;
    background: #ccc; */
}

.content-section{

width: 800px;
padding: 64px 0;
margin-left: auto;
margin-right: auto;
}

.content-heading{
text-align: center;
letter-spacing: 4px;
}

.content-sub-heading{
padding-top: 25px;
font-weight: 400;
text-align: center;
font-style: italic;
opacity: 0.4;
}

.about-noidung{
    padding-top: 25px;
    text-align: justify;
    line-height: 1.4;
    /* line-height: chiều cao của box 1.4 là chữ Anh, 1.6 của Việt */
    /* justify : là để căn ngang chữ đều 2 bên */
}
#content .member-list{
    margin-top: 47px;
    /* overflow: hidden;  - sử dụng để sửa lỗi float*/
    /* Thuộc tính overflow xác định điều gì sẽ xảy ra nếu một thành phần box tràn nội dung. */
}
#content .member-item{
    width: calc(100% / 3);
    text-align: center;
    float: left;
}
#content .member-name{
    
    margin-bottom: 15px;
}
#content .member-img{
    width: 153px;
    border-radius: 4px;
    

}
#breadcrump {

}

#barside {

}

#footer {

}
